__pycache__/
*.py[cod]
*.so
*.zip
*.egg-info/
dist/
build/
.venv/
venv/
.vscode/
.idea/
.DS_Store
Thumbs.db
outputs/
runs/
wandb/
checkpoints/
*.pt
*.pth
*.ckpt
*.onnx
.ipynb_checkpoints/
*.log
checkpoints/
*.mp4